
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-wrapper">
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row" style="margin-left:10px; color:darkblue;">
            <h2> Hoşgeldiniz</h2>
            <br />
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>35<sup style="font-size: 20px">%</sup></h3>
                        <p>Mamül Depo Doluluğu</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
                        <p>Yarı Mamül Depo Doluluğu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>60<sup style="font-size: 20px">%</sup></h3>
                        <p>Hammadde Depo Doluluğu</p>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>23<sup style="font-size: 20px">%</sup></h3>
                        <p>Norm Malzeme Depo Doluluğu</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


